<h1>Trainer: <%= @user.name%> </h1>
<body>email: <%= @user.email%> </body><br><br><br>


 Would you like to <a href="/users/<%=@user.id%>/edit"> <input type="submit" value="update"></a> to your Pokedex?<br><br>


<h1> Current Pokedex: </h1>
<body>
<div class="pokemonlist">
    <% @user.pokemons.each do |p| %>
        <%= p.name %><br>
    <% end %> <br>
</div>
</body>


 <form action="/users/<%=@user.id%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account?">
</form>