<h2><%=@pokemon.name%></h2><br>
Name: <%=@pokemon.name%><br>
Move: <%=@pokemon.move%><br>
Location: <%=@pokemon.location%><br>
<br>

<a href="/pokemons"><input type="submit" value="Return to Pokemon list"></a><br><br>


<% if @pokemon.user_id == current_user.id %>
<a href="/pokemons/<%=@pokemon.id%>/edit"><input type="submit" value="edit"> </a>
<%end%>
